#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  
  / Wrapper for slides
  .carousel-inner{:role => "listbox"}
    .item.active
      .col-lg-3.col-md-3.col-sm-3
        %img{src:"/assets/patrocinantes/item-1.png", class: "img-aliados img-responsive", style:"height: 140px"}
      .col-lg-3.col-md-3.col-sm-3
        %img{src:"/assets/patrocinantes/item-2.png", class: "img-aliados img-responsive", style:"height: 140px"}
      .col-lg-3.col-md-3.col-sm-3
        %img{src:"/assets/patrocinantes/item-3.png", class: "img-aliados img-responsive", style:"height: 140px"}
      .col-lg-3.col-md-3.col-sm-3
        %img{src:"/assets/patrocinantes/item-4.png", class: "img-aliados img-responsive", style:"height: 140px"}
    .item
      .col-lg-3.col-md-3.col-sm-3
        %img{src:"/assets/patrocinantes/item-5.png", class: "img-aliados img-responsive", style:"height: 140px"}
      .col-lg-3.col-md-3.col-sm-3
        %img{src:"/assets/patrocinantes/item-6.png", class: "img-aliados img-responsive", style:"height: 140px"}
      .col-lg-3.col-md-3.col-sm-3
        %img{src:"/assets/patrocinantes/item-7.png", class: "img-aliados img-responsive", style:"height: 140px"}
      .col-lg-3.col-md-3.col-sm-3
        %img{src:"/assets/patrocinantes/item-8.png", class: "img-aliados img-responsive", style:"height: 140px"}
    .item
      .col-lg-3.col-md-3.col-sm-3
        %img{src:"/assets//patrocinantes/item-9.png", class: "img-aliados img-responsive", style:"height: 140px"}
      .col-lg-3.col-md-3.col-sm-3
        %img{src:"/assets//patrocinantes/item-10.png", class: "img-aliados img-responsive", style:"height: 140px"}
      .col-lg-3.col-md-3.col-sm-3
        %img{src:"/assets//patrocinantes/item-11.png", class: "img-aliados img-responsive", style:"height: 140px"}
      .col-lg-3.col-md-3.col-sm-3
        %img{src:"/assets//patrocinantes/item-12.png", class: "img-aliados img-responsive", style:"height: 140px"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
  