#home	
	%header.header-front
		.back-header
			%img{src:"/assets/logos/logo_principal.png", class: "logo-principal img-responsive"}
			.line-text
				%center
					%p
						Transformando positivamente la sociedad
			%center.header-text
				%p
					Transformando positivamente la sociedad
	= render 'layouts/navigation'
#fundacion
	.container#container-fundacion
		.titulo-fundacion ¿Qué hacemos?
		.row
			.col-lg-6.col-md-6
				.items-fundacion
					Promovemos valores de forma creativa y a la vez impactamos a los sectores más desprotegidos, formentando la calidad de vida y el bienestar social a través de la promoción de iniciativas que de manera conjunta reponden a dichos retos.
			.col-lg-6.col-md-6
				.items-fundacion
					Es un esfuerzo conjunto de diferentes empresas, emprendedores, profesionales y voluntarios que se reúnen con el fin de dejar un legado en la sociedad aportando sus talentos, recursos y tiempo.

#comolohacemos
	.container#container-fundacion
		.titulo-fundacion ¿Cómo lo hacemos?
		.row{style: "margin-top:-40px"}
			.col-lg-4.col-md-4
				.items-fundacion
					%img{src:"/assets/items/Impactar.png", class: "img-responsive"}
			.col-lg-4.col-md-4
				.items-fundacion
					%img{src:"/assets/items/Inspirar.png", class: "img-responsive"}
			.col-lg-4.col-md-4
				.items-fundacion
					%img{src:"/assets/items/Transformar.png", class: "img-responsive"}

#nota
	.container
		%center
			La fundación impacto es portadora del mensaje de como cualquier persona comprometida puede devolver a la sociedad parte de lo que ha recibido de ella, haciendo esto a través del desarrollo de actividades que impulsen la transformación a través de un impacto positivo en sus vidas.

#nota2
	.container
		%center
			.titulo-nota-2
				Forma parte de esta grandiosa y noble labor


#historia
	.container
		.row
			.col-lg-6.col-md-6.col-sm-12			
				%br
				.titulo-historia 
					Un poco de historia
				%br
				.texto-historia
					En el año 2012, el speaker, coach e inspirador de multitudes Gustavo Henao, ahora presidente y fundador de IMPACTO, siente la necesidad de cerrar el año devolviendo a la sociedad parte de lo que recibe  a diario de ella, por lo que decide entregar su última conferencia del año de manera GRATUITA en el Centro Geográfico de Venezuela, (Calabozo-Edo. Guarico) teniendo como fin, promover valores importantes y a la vez recaudar juguetes para los niños mas necesitados de esta ciudad. Compartió la idea con un gran empresario, amigo y asesor de finanzas (Juan Carlos Aldana), quien no solo se comprometio con el proyecto sino que se convirtio en Vicepresidente y pilar fundamental del proyecto en el área financiera.
			.col-lg-6.col-md-6.col-sm-12
				%img{src:"/assets/items/historia.png", class: "img-responsive"}
				%br
				.texto-historia
					Desde entonces se a unido empresas, estudiantes, empresarios, ministerios Cristianos y una gran cantidad de voluntarios que suman esfuerzos para IMPACTAR la sociedad.

#aliados
	.container
		.titulo-aliados
			%center
				Gracias a los esfuerzos de
		.carrucel-aliados.hidden-xs
			= render 'aliados'
		.carrucel-aliados.visible-xs
			= render 'aliadosxs'


#eventos
	.container
		.titulo-eventos
			%center
				¿Cuándo?
		.lista-eventos
			.cabezera-eventos
				.col-lg-4.col-md-4.col-sm-4.col-xs-4
					%center
						Fecha
				.col-lg-4.col-md-4.col-sm-4.col-xs-8
					%center
						Lugar
				.col-lg-4.col-md-4.col-sm-4.hidden-xs
					%center
						Horario
			.row.item-eventos.separador
				.col-lg-4.col-md-4.col-sm-4.col-xs-4
					%center
						20/12/2015
				.col-lg-4.col-md-4.col-sm-4.col-xs-8
					%center
						Club San Marcos (Edo. Guarico)
				.col-lg-4.col-md-4.col-sm-4.hidden-xs
					%center
						4:30 p.m.
			.row.item-eventos
				.col-lg-4.col-md-4.col-sm-4.col-xs-4
					%center
				.col-lg-4.col-md-4.col-sm-4.col-xs-8
					%center
				.col-lg-4.col-md-4.col-sm-4.hidden-xs
					%center

#galeria
	.container
		.titulo-galeria
			%center
				Galería
		#carousel-galeria-generic.carousel.slide.hidden-xs{"data-ride" => "carousel"}
			.carousel-inner{:role => "listbox"}
				- @catalogos.each do |key, value|
					- if key == 0 
						.item.active
							- value.each do |imagen|
								- if imagen.public == true						
									.col-lg-4.col-md-4.col-sm-4
										%a.image-galerias.img-responsive{href:"", "data-target" => "#modalfoto-#{imagen.id}", "data-toggle" => "modal", :type => "button", style: "background-image: url(#{imagen.image});width: 100%;height: 250px;background-size: cover;background-position: 50% 50%;"}
										.modal.fade{id:"modalfoto-#{imagen.id}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
											.modal-dialog.modal-lg
												.modal-content
													.modal-body#modal-body-galeria
														#imagen-modal{style:"background-image: url(#{imagen.image})"}
					- else
						.item
							- value.each do |imagen|
								- if imagen.public == true								
									.col-lg-4.col-md-4.col-sm-4
										%a.image-galerias.img-responsive{href:"", "data-target" => "#modalfoto-#{imagen.id}", "data-toggle" => "modal", :type => "button", style: "background-image: url(#{imagen.image});width: 100%;height: 250px;background-size: cover;background-position: 50% 50%;"}
										.modal.fade{id:"modalfoto-#{imagen.id}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
											.modal-dialog.modal-lg
												.modal-content
													.modal-body#modal-body-galeria
														#imagen-modal{style:"background-image: url(#{imagen.image})"}
			/ Controls
			%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-galeria-generic", :role => "button"}
				%span.fa.fa-angle-left{"aria-hidden" => "true"}
				%span.sr-only Previous
			%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-galeria-generic", :role => "button"}
				%span.fa.fa-angle-right{"aria-hidden" => "true"}
				%span.sr-only Next

		#carousel-galeriaxs-generic.carousel.slide.visible-xs{"data-ride" => "carousel"}
			.carousel-inner{:role => "listbox"}
				- @catalogo.each do |imagen|
					- if imagen == @catalogo.first 
						.item.active					
							.col-lg-4.col-md-4.col-sm-4
								.image-galerias.img-responsive{style: "background-image: url(#{imagen.image});width: 100%;height: 250px;background-size: cover;background-position: 50% 50%;"}
					- else
						.item						
							.col-lg-4.col-md-4.col-sm-4
								.image-galerias.img-responsive{style: "background-image: url(#{imagen.image});width: 100%;height: 250px;background-size: cover;background-position: 50% 50%;"}
			/ Controls
			%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-galeriaxs-generic", :role => "button"}
				%span.fa.fa-angle-left{"aria-hidden" => "true"}
				%span.sr-only Previous
			%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-galeriaxs-generic", :role => "button"}
				%span.fa.fa-angle-right{"aria-hidden" => "true"}
				%span.sr-only Next
#contactos
	.container
		.box-contactos
			.row
				.col-lg-6.col-md-6.col-sm-12.col-xs-12.section-form
					.titulo-contactos
						%center
							Contactos
					.form-contactos 
						= form_tag('/contact/send_contact_message', method: "post") do
							%center
								= text_field_tag :name, "", :class=>'form-control', :type => "text", :placeholder=>'Nombre', style: 'margin-bottom: 10px;'
								= text_field_tag :email, "", :class=>'form-control', :type => "text", :placeholder=>'Email', style: 'margin-bottom: 10px;'								
								= text_area_tag :comment, "", :class=>'form-control ' , :placeholder=>'Mensaje', style: 'margin-bottom: 10px; height: 130px;'		
								#recaptcha_widget{:style => "display:block"}
									.row	
										.col-lg-6.col-md-6.col-sm-6							
											#recaptcha_image{:style => "width:100%"}
										.col-lg-6.col-md-6.col-sm-6		
											.input-group{ style:'margin-top: 5px; margin-bottom:10px;'}
												= text_field_tag :recaptcha_response_field, "",type: "text", id: "recaptcha_response_field", class: "form-control", placeholder: "Captcha"
												%span.input-group-btn
													= button_tag "<i class='fa fa-refresh'></i>".html_safe, :type => "button", class: "form-control", :onclick => "javascript:Recaptcha.reload(); return false;"
								= raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true						
								%br
								= button_tag(type: 'submit', class: "btn-contact pull-right") do
									%i.fa.fa-share
				.col-lg-6.col-md-6.col-sm-12.col-xs-12	
					%img{src:"/assets/logos/logo_footer.png", class: "logo-contactos img-responsive"}
					
					%center
						.row.icon-redes
							.col-lg-4.col-md-4.col-sm-4.col-xs-4
								= link_to "https://twitter.com/GustavoHenaoS", target: "_blank" do
									%i.fa.fa-twitter
							.col-lg-4.col-md-4.col-sm-4.col-xs-4
								= link_to "https://instagram.com/GustavoHenao", target: "_blank" do
									%i.fa.fa-facebook-square
							.col-lg-4.col-md-4.col-sm-4.col-xs-4
								= link_to "https://www.facebook.com/speaker.gustavohenao?fref=ts", target: "_blank" do
									%i.fa.fa-instagram
						%p.text-redes Síguenos en nuestras redes sociales.	



