- if current_user
	.sidebar.affix 
		.perfil
			= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=60", class: "avatar"
			.name-avatar
				%p
					= current_user.name
				.btn-group
					=link_to main_app.edit_user_path(current_user.id), class: 'btn btn-xs' do
						%i.fa.fa-edit
					= link_to main_app.destroy_user_session_path, :method=>'delete', class: 'btn btn-xs danger' do
						%i.fa.fa-power-off
		.title-sidebar
			NAVEGACIÓN
		%ul.nav.nav-sidebar.title-components
			= render "layouts/admin/sidebar_links"