!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Inyxmater Rails'
    %link{:href => "http://fonts.googleapis.com/css?family=Titillium+Web:300", :rel => "stylesheet", :type => "text/css"}/
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Inyxmater Rails'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    = csrf_meta_tags
    = favicon_link_tag "logo.png"
  %body#admin{style:"font-family: 'Titillium Web', sans-serif;background: #f2f2f2;"}
    %header
      = render 'layouts/admin/navigation'
    %main{:role => "main"}
      .row.fluid
        = render 'layouts/admin/sidebar'
        - if params[:controller] == 'devise/sessions' #vista para login
          .col-lg-12
            = yield
        - if current_user #vista para current_user
          .main
            .title-admin
              .row
                .col-lg-12.col-md-12.col-sm-12.name-title
                  = raw t("controllers.#{params[:controller].split("/").last.downcase}")
                  = " - "+t("admin.actions.#{params[:action].downcase}") unless params[:controller] == 'admin'

            = yield

    - if not current_user
      %footer.navbar-fixed-bottom{style:"padding-bottom:20px;"}
        %center
          Todos los derechos reservados. Desarrollado por 
          %span{style: "font-size:18px;font-family:'Arial Black';color:#FFBA3D;font-style:oblique;"}
            Inyxtech       

      
    

