= simple_form_for(@user) do |f|
	.panel.panel-default
		.panel-heading
			%i.fa.fa-th-list
				= t('user.register_data')
		.panel-body
			.form-inputs
				= f.input :name, label: false, input_html: { class: 'form-control', placeholder: t('user.name') }
				%br
				= f.input :email, label: false, input_html: { class: 'form-control', placeholder: t('devise.email') }
				%br/
				= f.input :role_ids, label: false, collection: Role.all, include_blank: "- Roles -", input_html: { class: "form-control" }
				= raw t('devise.announce_password') if params[:action] == 'edit' or params[:action] == 'update'
				%br
				= f.input :password, label: false, input_html: { class: 'form-control', placeholder: t('devise.password') }
				%br
				= f.input :password_confirmation, label: false, input_html: { class: 'form-control', placeholder: t('devise.password_confirmation') }
				%br/
		.panel-footer
			.form-actions
				= f.button :submit, t('user.helpers.submit_create'), class: "pull-right btn btn-warning"
			.clearfix