= content_for(:title, "Admin - Usuarios")

%div{'ng-controller'=>'indexUserCtrl',  'ng-init'=>'init()', style:"padding:30px;padding-bottom:0px;"}
	.angular
		.form-inline
			.form-group
				.input-group
					.input-group-addon
						%i.fa.fa-search
					%input#input-search{"ng-model" => "buscar.$", :placeholder => t("admin.user.actions.search"), :type => "text"} 
		.alert{class: 'alert-{{statusAlert}}', 'ng-show'=>"alert==true"} 
			%strong Admin:    
			{{msnAlert}}
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
		= render 'layouts/admin/messages'

		%br/
		.panel.panel-default
			.panel-heading
				= link_to new_user_path, class: "btn btn-default", title: t("admin.buttons.new") do
					%i.fa.fa-plus-circle
				%button.btn.btn-default{"ng-click" => "refresh()", :title => t("admin.buttons.refresh") }
					%i.fa.fa-refresh#icon-refresh
				%a.btn.btn-default{"ng-show" => "users.data.length", "ng-click" => "allSelected(users)", :title => t("admin.buttons.select_all") }
					%i.fa.fa-check-square-o
				%button#btn-delete.btn.btn-default{class: "btn-{{btnDelete}}", "ng-click" => "destroy()", :title => t("admin.buttons.trash") }
					%i.fa.fa-trash-o
				%button.btn.btn-default.pull-right.hidden-xs{'disabled'=>"", style:"color:#000"}
					Página {{page}}
				%button.btn.btn-default.pull-right{"ng-click" => "nextList();"}
					%i.fa.fa-arrow-right
				%button.btn.btn-default.pull-right{"ng-click" => "lastList();"}
					%i.fa.fa-arrow-left
			.panel-body
				%table{style: "width:100%"}
					%tbody
						%tr{ class: "select-{{user.checked}}", "ng-click" => "show(user.id)", :id => "row-{{user.id}}", "ng-repeat" => "user in users.data | filter:buscar | interval:interval_a:interval_b "}
							%td.messages{width: "1px;"}
								%input.check{:id => "check-{{user.id}}", "ng-click" => "selected(user.id); $event.stopPorpagation();", :type => "checkbox", "ng-model" => "user.checked"}
							%td.messages {{user.name}}
							%td.messages.hidden-xs {{ user.email }}
							%td.messages.hidden-xs {{ roles[user.rol] }}
							%td.messages
								%a{"data-toggle" => "modal", :href => "#role-options-{{user.id}}", :type => "button"}= t("user.change-rol")
							%td.messages
								= link_to "/admin/users/{{user.id}}", title: t('admin.actions.show') do
									%i.fa.fa-exclamation-circle
								= link_to "/admin/users/{{user.id}}/edit", title: t('admin.actions.edit') do
									%i.fa.fa-edit
								= link_to "{{destroy_path(user.id)}}", title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar este usuario?' } do
									%i.fa.fa-trash-o
								= render "modal_role"
						%tr{"ng-show" => "!users.data.length"}
							%td{:style => "width:100%"}
								%center
									%i.fa.fa-frown-o
									No hay Usuarios.

							
			.panel-footer







