body#admin {
	font-family: 'Titillium Web', sans-serif;
	background: #f2f2f2;

	.alert {
		margin-bottom: 0px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 14px;
		font-weight: bold;
		margin-top: 15px;

		.close {
		  font-size: 16px;
		}
	}

	.avatar {
		border-radius:50%;
		margin: 0px;
		margin-top: 30px;
	}
	
	.perfil {
		
		padding-left: 20px;
		.name-avatar{
			position: relative;
			top:-60px;
			left: 70px;
			margin-bottom: 10px;
			width: 180px;

			p {
				font-size: 20px;
				font-weight: bold;
				color: white;
				margin-bottom: 0px;
			}
		
			.btn {
				border: 1px solid rgba(128, 139, 156, 0.22);
				color: rgba(128, 139, 156, 1);
			}

			a:hover {
				background: #FFBA3D;
				color: white;
				transition: all 0.5s ease-in-out;
			}

			a.danger:hover {
				background: #d9534f;
				color: white;
				transition: all 0.5s ease-in-out;
			}


		}
	}

	.sidebar {
		background: #18212B;
		height: 100%;
		z-index: 1;
		padding-left: 20px;
		padding-right: 20px;
		max-width: 280px;
		min-width:280px;

		.nav-sidebar {
			margin-top: 5px;

			a {
				color: white;
				font-size: 16px;
			}
		}

		.nav-sidebar > .active{
			background: #FFBA3D;
			border-radius: 2px;
		}

		.nav-sidebar > .active > a:hover{
			background: #FFBA3D;
			border-radius: 2px;
			i{
				color: white;
			}
		}

		.nav-sidebar > li > a:hover {			
			-webkit-transition:0.5s;
			background: #3E5771;
			border-radius: 2px;
			i{
				color: #FFBA3D;
			}
		}
		.nav-sidebar > li > a > i {
			margin-right: 15px;
			font-size: 20px;
		}

		.nav-sidebar > li > a {
			font-size: 15px;
			color: #ecf0f1;
			position: relative;
			padding: 6px 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			display: inline-block;
			width: 100%;
			text-decoration: none;
			border-radius: 2px;
			-webkit-transition: background;
			transition: background;
			-webkit-transition-duration: 0.4s;
			transition-duration: 0.4s;
		}

		.nav-sidebar > li {
			margin-bottom: 3px;

		}

	}

	.modal {
		.modal-content {
			border-radius: 0px;
		}

		.modal-header {
			background: #FFBA3D;
			padding-bottom: 5px;
			padding-top: 5px;

			h3 {
				color: white;
				font-weight: bold;
			}
		}

		label {
			margin-right: 10px;
		}
	}

	.main {
		margin-left: 280px;
		padding-left: 0px;
		padding-right: 0px;
	}

	@media (max-width: 1450px) {

	}

	@media (max-width: 1024px) {
		
	}

	@media (max-width: 768px) {  
		.main {
			padding-left: 0px;
			margin: 0px;
			width: 100%;
		}  
	  .sidebar {			
	  		height: 100%;
			z-index: 1;
			left:-700px;
			max-width: 280px;
			min-width: 280px;
			-webkit-transition:0.5s
	  }

	  .show{
			left: 0px;
			-webkit-transition:0.5s		 
		}

		.input-search {
			padding-top: 10px;
		}

		.name-title {
			text-align: center;
		}
	}

	.logo-login {
		width: 100px;
		margin-top: 100px;
	}

	.autoform {
		margin-top: 20px;
	}

	.checkbox {
		padding-top: 5px;
		.remember {
			padding-left: 20px;
		}

		#user_remember_me {
			margin-left: 2px;
		}

	}

	.button-area {
		padding-bottom: 20px;

		.btn {
			border-radius: 0px;
		}
	}
	
	tbody tr td {
		color: #333333;
	}

	tr:hover {
		background: #fcf8e3;
	}

	tr a:hover i {
		color: #428bca;
		transition: all 0.1s ease-in-out;
	}

	tr:hover a {
		color: #428bca;;
		text-decoration: none;
		display: inline-block;
	}

	a {
		color: #333333;
	}

	tr a i {
		font-size: 20px;
		color: #333333;
		padding-right: 5px;
	}

	.error {
		color: red;
	}

	.list-group-item span {
		color: #8a6d3b;
		font-weight: none;
	}
}

.title-sidebar{
	border-bottom: 1px solid #5F5858;
	color:#5F5858;
	padding: 5px;
	width: 100%;
	position: relative;
	left: 0px;
	top:-50px;
	font-size: 14px;
}

.title-components{
	color:#5F5858;
	padding: 5px;
	width: 100%;
	position: relative;
	left: 0px;
	top:-50px;
	font-size: 14px;
}

.title-admin{
	padding: 15px 25px;
	padding-bottom: 10px;
	position: relative;
	margin: 0;
	background-color: #e7e5e1;
	font-size: 20px;
	
	.input-group {

		.input-group-addon {
			border-radius: none;
			background: #e7e5e1;
			border: none;
		}

		.form-control {
			border-radius: 0px;
			background: #e7e5e1;
			border: none;
			box-shadow: none;
			font-size: 14px;
			color: black;
			padding-left: 10px;
		}

		.focusedInput:focus {
	    background: rgba(82, 82, 82, 0.14);
	    -webkit-transition:0.5s;
		}

		.input-group-addon {
	    background: rgba(82, 82, 82, 0.14);
	    -webkit-transition:0.5s;
		}

		::-webkit-input-placeholder {
		  color: black;
		  font-size: 14px;
		}

		:-moz-placeholder { /* Firefox 18- */
		  color: #5F5858;
		  font-size: 14px;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		  color: #5F5858;
		  font-size: 14px;
		}

		:-ms-input-placeholder {  
		  color: #5F5858;
		  font-size: 14px;
		}

		input {
			z-index: 0;
		}

	}

	.name-title {
		padding-top: 3px;
	}
}

#dashoard{
	margin-top: 10px;
	padding-left: 26px;
	padding-right: 26px;
	width: 100%;
}

a.close-alert{
	color: #ffffff;
	text-decoration: none;
}

a.close-alert:hover{
	color: #ffffff;
	text-decoration: none;
}
