*{
	padding: 0px;
	margin: 0px;
}


.main{
	height: 100%;
	margin: 0px;
	background: none;
}

#home{
	height: 100%;
}

.menu-logo{
	width: 150px;
	position: relative;
	top: -25px;
}

.navbar-default{
	height: 65px;
}

.navbar-default .navbar-nav > li > a {
	color: #777777;
	padding-top: 22.5px;
	padding-bottom: 22.5px;
}

.header-front{
	background-image: url('/assets/background/header.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: 90% 50%;
	width: 100%;
	height: 90%;
	/*-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	  filter: blur(5px);*/
	.back-header{
		height: 100%;
		width:  100%;
		padding-top: 2em;
		/*background-color: rgba(255, 255, 255, 0.5);*/
		.logo-principal{
			width: 280px;
		}
		.line-text{
			font-family: 'Lato', sans-serif;
			font-weight: bold;
			background-color: rgba(195, 44, 71, 0.8);
			color: #ffffff;
			font-size: 1.8em;
			padding: 0.3em;
			width: 100%;
			position:relative;
    		top:60%;
			p{
				max-width: 450px;
			}
		}
		.header-text{
			display:none;
		}
	}

}


#quehacemos{
	height: 2000px;
}

/* Table landscape*/  
@media only screen and (max-width: 1300px) and (min-width: 1200px) {  
  	.header-front{		
		.back-header{
			.header-text{
				display:none;
			}
		}

	}
}  

@media only screen and (max-width: 1199px) and (min-width: 1000px) {  
  	.header-front{		
		.back-header{	
			.header-text{
				display:none;
			}
		}

	}
}  

@media only screen and (max-width: 1000px) and (min-width: 800px) {  
  	.header-front{		
		.back-header{	
			.header-text{
				display:none;
			}
		}

	}
} 

@media only screen and (max-width: 799px) and (min-width: 770px) {  
  	.header-front{		
		.back-header{	
			.header-text{
				display:none;
			}
		}

	}
} 

@media only screen and (max-width: 770px){  
  	.header-front{		
  		height: 600px;
		.back-header{			
			background-color: rgba(255, 255, 255, 0.5);
			padding-top:10em;
			.line-text{
				display:none;
			}
			.header-text{
				display:block;
			}
		}

	}
} 