= content_for(:title, "Admin - Mensajes")
.angular{'ng-controller'=>'indexCtrl',  'ng-init'=>"init()", style:"padding:30px;padding-bottom:0px;"}
  .form-inline
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-search
        %input#input-search{"ng-model" => "buscar.$", :placeholder => t("contact.actions.search"), :type => "text"} 
  .alert{class: 'alert-{{statusAlert}}', 'ng-show'=>"alert==true"} 
    %strong Admin:    
    {{msnAlert}}
    %a.close-alert.pull-right{href: "", "ng-click" => "alertClose()"} ×


  = render 'layouts/admin/messages' 
  %br

  .panel.panel-default
    .panel-heading
      %button.btn.btn-danger.hidden-xs{:disabled =>"", 'ng-show'=>"count>0" }
        %i.fa.fa-envelope        
        {{count}}
      %button.btn.btn-default.hidden-xs{:disabled =>"", 'ng-show'=>"count==0"}
        %i.fa.fa-envelope        
        {{count}}
      %button.btn.btn-default{"ng-click" => "refresh()", :title => t("contact.actions.refresh")}
        %i.fa.fa-refresh#icon-refresh
      %a.btn.btn-default{"ng-show" => "messages.data.length", "ng-click" => "allSelected(messages)", :title => t("contact.actions.all_messages")}
        %i.fa.fa-check-square-o
      %button#btn-delete.btn.btn-default{class: "btn-{{btnDelete}}", "ng-click" => "destroy()", :title => t("contact.actions.delete_all_messages")}
        %i.fa.fa-trash-o       
      %button.btn.btn-default.pull-right.hidden-xs{'disabled'=>"", style:"color:#000"}
        = t('contact.actions.page') 
        {{page}}
      %button.btn.btn-default.pull-right{"ng-click" => "nextList();"}
        %i.fa.fa-arrow-right
      %button.btn.btn-default.pull-right{"ng-click" => "lastList();"}
        %i.fa.fa-arrow-left
    .panel-body
      %table{:style => "width:100%"}
        %tbody
          %tr.row-message{class: "select-{{message.checked}}", :id => "row-{{message.id}}", "ng-repeat" => "message in messages.data | filter:buscar | interval:interval_a:interval_b" }
            %td.messages{class: " read-{{message.read}}", :style => "width: 1%;"}
              %input.check{class: "check-style", :id => "check-{{message.id}}", "ng-click" => "selected(message.id);$event.stopPropagation();", :type => "checkbox", "ng-model"=>"message.checked"}
            %td.messages.hidden-xs{class: " read-{{message.read}}", :style => "width: 1%;"}
              %i.fa.fa-envelope{'ng-if'=>"message.read == false"}
              %i.fa.fa-file-text-o{'ng-if'=>"message.read == true"}
            %td.messages{class: " read-{{message.read}}"}
              %a{href:"/admin/messages/{{message.id}}"}

                {{ message.name }}  
            %td.messages.hidden-xs.hidden-sm.hidden-md{ class: "read-{{message.read}}", :style => "width: 60%;"}
              {{ message.email }}  
            %td.messages{class: " read-{{message.read}}"}
              %center
                {{ message.created_at | date}}
                %span.hidden-xs - {{ message.created_at | date:'HH:mm'}}  
          %tr{"ng-show" => "!messages.data.length"}
            %td{:style => "width:100%"}
              %center
                %i.fa.fa-frown-o
                = t('contact.actions.empty')
    .panel-footer
      %center
        %b
          {{messages.data.length}} 
        = t('contact.messages_cont')

