= content_for(:title, "Admin - #{@message.email}")
.angular{'ng-controller'=>'showCtrl','ng-init'=>"init()",  style:"padding:30px;;padding-bottom:0px;"}
  .form-inline
  %a.btn.btn-default{href: "/admin/messages", :title => t("contact.actions.inbox")}
    %i.fa.fa-inbox
  %button#msn-delete.btn.btn-default{"ng-click" => "destroy(#{@message.id})", :title => t("contact.actions.delete_message")}
    %i.fa.fa-trash-o
  %br
  %br
  .panel.panel-default        
    .panel-heading
      %b
      %i.fa.fa-envelope
        = @message.email
    .panel-body
      .row
        .col-lg-10
          %h2 
            = @message.name
          = @message.email
          %br/
          = @message.created_at.strftime("%B %d, %Y")
          %br/
          = @message.created_at.strftime("%H:%M")
        .col-lg-2{style:"font-size:120px;color:#F2F2F2;"}
          %i.fa.fa-envelope-o.hidden-xs.hidden-sm.hidden-
      %hr   
      %p{style:"font-size:18px; text-align:justify;"}
        = @message.message
    .panel-footer