= image_tag "logo.png", class: "logo-login"
.authform
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
    = devise_error_messages!
    .form-group
      - if devise_mapping.registerable?
        = #link_to 'Sign up', new_registration_path(resource_name), class: 'right'
      = t("devise.email")
      = f.email_field :email, :autofocus => true, class: 'form-control'
    .form-group
      - if devise_mapping.recoverable?
        = link_to t("devise.password?"), new_password_path(resource_name), class: 'right'
      = t("devise.password")
      = f.password_field :password, class: 'form-control'
    = f.submit t("devise.sign-in"), :class => 'right btn btn-warning'
    - if devise_mapping.rememberable?
      .checkbox
        = f.check_box :remember_me
        .remember= t("devise.remember_me")

