/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker3
 *= require_tree .
 *= require contact_us/application
 *= require inyx_catalogue_rails/application
 *= require_self
 */
.select-true{
	background: #fcf8e3;
	.read-false{
		background: none;
	}

	.read-true{
		background: none;
	}
}

.footer-logo{
	width: 60px;
	display: inline;
}

span.muffin-text{
	position: relative;
	top: 5px;
}

.footer-logo-muffin{
	width: 86px;
	display: inline;
}

.icon-redes a{
	color: #ffffff;
}

.icon-redes a:hover{
	color: #ffffff;
}

.footer-brand{
	width: 130px;
}

.select-false{
	background: none;
}

.btn-true{
	display: inline;
}

.btn-false{
	display: none;
}

.read-false{
	background: #fff;
	font-weight: bold;
	cursor: pointer;
}

.read-true{
	background: #f2f2f2;
	cursor: pointer;
}

.panel-info{
	background:#F3D164;
	border:1px solid #F7D358;
	color: #ffffff;
	border-radius: 10px;
	padding: 15px;
	margin-top: 30px;
	.number-info{
		font-size: 60px;
		font-weight: bold;
		margin-bottom: -10px;

	}
	.title-info{
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 0px;
	}
	.icon-info{
		font-size: 80px;
		font-weight: bold;
		opacity: .3;
	}

}

.panel-info2{
	background: #ffffff;
	border:1px solid #EFEFEF;
	color: #ffffff;
	border-radius: 10px;
	height: 333px;
	margin-top: 30px;
}

.messages{
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	padding: 15px;
}

.messages #read-false{	
	background:#E6E6E6;
}

#input-search{
	padding:6px;
	border-radius:0px 5px 5px 0px;
	border: 1px solid #c0c0c0;
	width: 300px;
}

@media (max-width: 550px){
	#input-search{
		width: 100%;
	}
}

.row-message:hover{
	background:#fcf8e3;
}
