*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: 'Lato', sans-serif;
}

#front-navbar{
	box-shadow: 0px 5px 15px #363636;
	z-index: 9999;
	border: none;
}


iframe{
	display: none;
}

.main{
		height: 100%;
		margin: 0px;
		background: none;
		padding: 0px;
	}

	#home{
		height: 100%;
	}

	.menu-logo{
		width: 150px;
		position: relative;
		top: -20px;		
	}

	.off{
		display: none;
	}

	.menu-logo-principal{
		width: 100px;
		position: relative;
		top: 3px;	
	}
	

	.header-front{
		background-image: url('/assets/background/header.jpg');
		background-size: cover;
		background-attachment: fixed;
		background-position: 90% 50%;
		width: 100%;
		height: 800px;
		/*-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		  filter: blur(5px);*/
		.back-header{
			height: 100%;
			width:  100%;
			padding-top: 2em;
			/*background-color: rgba(255, 255, 255, 0.5);*/
			.logo-principal{
				width: 280px;
				opacity: 0;
			}
			.line-text{
				font-family: 'Lato', sans-serif;
				font-weight: 700;
				background-color: rgba(195, 44, 71, 0.8);
				color: #ffffff;
				font-size: 1.8em;
				padding: 0.3em;
				width: 100%;
				position:relative;
	    		top:45%;
	    		opacity: 0;
				p{
					max-width: 350px;
				}
			}
			.header-text{
				display:none;
			}
		}

	}


/* Pantalla Extra lg*/
@media screen and (min-width: 1401px) { 
	.menu-logo-principal{
		width: 110px;
		position: relative;
		top: 8px;	
	}

	#front-navbar{
		height: 70px;
	}

	#front-navbar .navbar-nav > li{	
		 a{
			color: #3986B5;
			font-weight: 700;
			border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8;
			padding-bottom: 20px;
			padding-top: 20px;
		}
	}

	#front-navbar .navbar-nav .current{
		a{
			font-weight: 700;
			color: #3986B5;      	
			border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8; 
			padding-bottom: 20px;
			padding-top: 20px;
			-webkit-animation: menuhover 1.5s; /* Chrome, Safari, Opera */
			-webkit-animation-fill-mode: forwards;
		    animation: menuhover 1.5s;
		    animation-fill-mode: forwards;
		}

		@-webkit-keyframes menuhover {
		    from {
			    color: #3986B5;
			    border-top: 5px solid #f8f8f8;
				border-bottom: 5px solid #f8f8f8;	    
		    }
		    to {
		    	color: #bf2c46;      	
				border-top: 5px solid #bf2c46;
				border-bottom: 5px solid #bf2c46;  	
		    }
		}

		@keyframes menuhover {
		    from {
		    	color: #3986B5;
			    border-top: 5px solid #f8f8f8;
				border-bottom: 5px solid #f8f8f8; 
		    }
		    to {
		    	color: #bf2c46;      	
				border-top: 5px solid #bf2c46;
				border-bottom: 5px solid #bf2c46;     	
		    }
		}

	}

	#front-navbar .navbar-nav > li:hover {
		a{
		-webkit-animation: menuhover 1.5s; /* Chrome, Safari, Opera */
		-webkit-animation-fill-mode: forwards;
	    animation: menuhover 1.5s;
	    animation-fill-mode: forwards;
		}
	}

	@-webkit-keyframes menuhover {
	    from {
		    color: #3986B5;
		    border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8;	    
	    }
	    to {
	    	color: #bf2c46;      	
			border-top: 5px solid #bf2c46;
			border-bottom: 5px solid #bf2c46;  	
	    }
	}

	@keyframes menuhover {
	    from {
		   color: #3986B5;
		    border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8;  
	    }
	    to {
	    	color: #bf2c46;      	
			border-top: 5px solid #bf2c46;
			border-bottom: 5px solid #bf2c46;   	
	    }
	}

	#front-navbar > li {
		float: left;
	}

	.header-front{
		background-image: url('/assets/background/header.jpg');
		background-size: cover;
		background-attachment: fixed;
		background-position: 90% 50%;
		width: 100%;
		height: 1000px;
		/*-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		  filter: blur(5px);*/
		.back-header{
			height: 100%;
			width:  100%;
			padding-top: 4em;
			/*background-color: rgba(255, 255, 255, 0.5);*/
			.logo-principal{
				width: 280px;
				opacity: 0;
			}
			.line-text{
				font-family: 'Lato', sans-serif;
				font-weight: 700;
				background-color: rgba(195, 44, 71, 0.8);
				color: #ffffff;
				font-size: 1.8em;
				padding: 0.3em;
				width: 100%;
				position:relative;
	    		top:55%;
	    		opacity: 0;
				p{
					max-width: 350px;
				}
			}
			.header-text{
				display:none;
			}
		}
	}
	#fundacion{
		background-image: url('/assets/background/quehacemos.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/	
		height	: 450px;
		#container-fundacion{
			padding-top: 15em;
			.titulo-fundacion{
				font-family: 'Lato', sans-serif;
				font-weight: 700;
				font-size: 5em;
				color: #ffffff; 
				text-align: center;
			}
			.items-fundacion{
				text-align: justify;
				background-color: #ffffff;
				color: #565353;
				padding:1em;
				font-family: 'Lato', sans-serif;
				margin-top: 5em;
				font-size: 1.2em;
			}
		}
	}

	#comolohacemos{
		margin-top: 90px;
		background-image: url('/assets/background/comolohacemos.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		background-position: 10% 50%;
		height: 450px;
		#container-fundacion{
			padding-top: 10em;
			.titulo-fundacion{
				font-family: 'Lato', sans-serif;
				font-weight: 700; 
				font-size: 5em;
				color: #ffffff;
				text-align: center;
			}
			.items-fundacion{
				text-align: justify;
				background-color: #ffffff;
				padding:1em;
				font-family: 'Lato', sans-serif;
				margin-top: 5em;
				font-size: 1.2em;
			}
		}
	}

	#nota{
		background-color: #bf2c46;
		padding: 1em;
		margin-top: 110px;
		color:#ffffff; 
		font-family: 'Lato', sans-serif;
		font-size: 1.2em;
	}

	#nota2{
		background-image: url('/assets/background/nota2.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		color: #fff;
		padding: 2em;
		font-family: 'Lato', sans-serif;
		font-size: 5em;
		font-weight: 700;
		.container-nota-2{
			width: 50%;
		}
		.titulo-nota-2{
			width: 940px;
		}
	}

	#historia{
		background: #ffffff;
		padding: 3em;
		.titulo-historia{
			font-family: 'Lato', sans-serif;
			font-size: 3.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #3986B5;
			margin-bottom: 1em;
		}
		.texto-historia{
			text-align: justify;
			font-size: 1.2em;
			color: #565353;
		}
	}

	#aliados{
		background: #ffffff;
		padding: 3em;
		.titulo-aliados{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #bf2c46;
			margin-bottom: 1em;
		}
		.carousel-indicators li {
			display: inline-block;
			width: 15px;
			height: 15px;
			margin: 1px;
			text-indent: -999px;
			border: 1px solid white;
			border-radius: 10px;
			cursor: pointer;
			background-color: #000 \9;
			background-color: rgba(179, 179, 179, 1);
		}

		.carousel-indicators .active {
			margin: 0;
			width: 15px;
			height: 15px;
			background-color: #bf2c46;
		}

		.carousel-inner {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 15em;
		}
	}

	#eventos{
		background: #ffffff;
		padding: 3em;
		background-image: url('/assets/background/eventos.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		height: 350px;
		.titulo-eventos{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #ffffff;
			margin-bottom: 1em;
			margin-top: 90px;
		}
		.lista-eventos{
			padding: 1em;
			background: #ffffff;
			.cabezera-eventos{
				font-size: 1.5em;
				font-weight: 700;
				color: #3986B5;
				margin-bottom: 2em;
			}
			.item-eventos{
				font-size: 1em;
				font-weight: 700;
				color: #333131;
				margin-top: 2em;
				margin-bottom: 2em;
				padding-bottom: 20px;
			}

			.separador{				
				border-bottom: 3px solid #3986B5;
			}
		}
	}

	#galeria{
		background: #ffffff;
		padding: 3em;
		margin-top: 200px;
		.titulo-galeria{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #3986B5;
			margin-bottom: 1em;
			margin-top: 90px;
		}
		.image-galerias{
		}
		.carousel-inner {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 25em;
		}
		.carousel-control{
			font-size: 5em;
			margin-top: 10%;
			background: none;
			color: #3986B5;
		}
		#imagen-modal{
		    padding:0px;
		    height: 650px;
		    background-size: cover;
		    background-position: 70% 70%;
		}

		
	}

	#contactos{
		background-image: url('/assets/background/header.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		padding-top: 3em;
		.titulo-contactos{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #ffffff;
			margin-top: 1em;
		}

		.box-contactos{
			background-color: rgba(0, 0, 0, 0.7);
			padding: 2em;
			color: #ffffff;
		
			.text-redes{
				font-weight: 700;
				font-size: 1.5em;
			}
			.icon-redes{
				font-size: 5em;
			}

			.form-contactos {
				padding: 1em;
				.form-control{
					border-radius: 0px;
					width: 100%;
					background:none;
					color: #ffffff;
				}
				.btn-contact{
					background: none;
					border: none;
					font-size: 2em;
				}
				#recaptcha_challenge_image{
					width: 220px;
					margin-left: 0px;
				}
			}
		}

		.logo-contactos{
			width: 400px;
			margin-top: 100px;
			margin-bottom: 100px;
		}
	}

	footer{
		.footer-up{
			padding: 0.5em;
			font-weight: 700;
			font-size: 1em;

			p {
				margin-bottom: 0px;
			}
		}
		.footer-down{
			color: #ffffff;
			padding: 0.5em;
			background: #bf2c46;
			font-weight: 700;
			font-size: 1em;

			p {
				margin-bottom: 0px;
			}
		}
	}
}
/* Pantalla lg*/
@media screen and (max-width: 1400px) and (min-width: 1200px){ 
	.menu-logo{
		width: 130px;
		position: relative;
		top: -18px;		
	}

	.menu-logo-principal{
		width: 110px;
		position: relative;
		top: 6px;	
	}

	#front-navbar{
		max-height: 61px;
	}

	#front-navbar .navbar-nav .current{
		a{
			font-weight: 700;
			color: #3986B5;      	
			border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8; 
			padding-bottom: 15.5px;
			padding-top: 15.5px;
			-webkit-animation: menuhover 1.5s; /* Chrome, Safari, Opera */
			-webkit-animation-fill-mode: forwards;
		    animation: menuhover 1.5s;
		    animation-fill-mode: forwards;
		}

		@-webkit-keyframes menuhover {
		    from {
			    color: #3986B5;
			    border-top: 5px solid #f8f8f8;
				border-bottom: 5px solid #f8f8f8;	    
		    }
		    to {
		    	color: #bf2c46;      	
				border-top: 5px solid #bf2c46;
				border-bottom: 5px solid #bf2c46;  	
		    }
		}

		@keyframes menuhover {
		    from {
		    	color: #3986B5;
			    border-top: 5px solid #f8f8f8;
				border-bottom: 5px solid #f8f8f8; 
		    }
		    to {
		    	color: #bf2c46;      	
				border-top: 5px solid #bf2c46;
				border-bottom: 5px solid #bf2c46;     	
		    }
		}

	}

	#front-navbar .navbar-nav > li{	
		 a{
			color: #3986B5;
			font-weight: 700;
			border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8;
			padding-bottom: 15.5px;
			padding-top: 15.5px;
		}
	}

	#front-navbar .navbar-nav > li:hover {
		a{
		-webkit-animation: menuhover 1.5s; /* Chrome, Safari, Opera */
		-webkit-animation-fill-mode: forwards;
	    animation: menuhover 1.5s;
	    animation-fill-mode: forwards;
		}
	}

	@-webkit-keyframes menuhover {
	    from {
		    color: #3986B5;
		    border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8;	    
	    }
	    to {
	    	color: #bf2c46;      	
			border-top: 5px solid #bf2c46;
			border-bottom: 5px solid #bf2c46;  	
	    }
	}

	@keyframes menuhover {
	    from {
		    color: #3986B5;
		    border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8;	    
	    }
	    to {
	    	color: #bf2c46;      	
			border-top: 5px solid #bf2c46;
			border-bottom: 5px solid #bf2c46;  	
	    }
	}

	#front-navbar .navbar-nav > li {
		float: left;
	}

	#fundacion{
		background-image: url('/assets/background/quehacemos.jpg');
		background-size: cover;
		/*background-attachment: fixed;	*/	
		height	: 500px;
		#container-fundacion{
			padding-top: 15em;
			.titulo-fundacion{
				font-family: 'Lato', sans-serif;
				font-weight: 700;
				font-size: 5em;
				color: #ffffff; 
				text-align: center;
			}
			.items-fundacion{
				text-align: justify;
				background-color: #ffffff;
				color: #565353;
				padding:1em;
				font-family: 'Lato', sans-serif;
				margin-top: 5em;
				font-size: 1.2em;
			}
		}
	}

	#comolohacemos{
		margin-top: 90px;
		background-image: url('/assets/background/comolohacemos.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		background-position: 10% 50%;
		height: 450px;
		#container-fundacion{
			padding-top: 10em;
			.titulo-fundacion{
				font-family: 'Lato', sans-serif;
				font-weight: 700; 
				font-size: 5em;
				color: #ffffff;
				text-align: center;
			}
			.items-fundacion{
				text-align: justify;
				background-color: #ffffff;
				padding:1em;
				font-family: 'Lato', sans-serif;
				margin-top: 5em;
				font-size: 1.2em;
			}
		}
	}

	#nota{
		background-color: #bf2c46;
		padding: 1em;
		margin-top: 110px;
		color:#ffffff; 
		font-family: 'Lato', sans-serif;
		font-size: 1.2em;
	}

	#nota2{
		background-image: url('/assets/background/nota2.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		background-position: 50% 50%;
		color: #fff;
		padding: 2em;
		font-family: 'Lato', sans-serif;
		font-size: 5em;
		font-weight: 700;
		.titulo-nota-2{
			width: 940px;
		}
	}

	#historia{
		background: #ffffff;
		padding: 3em;
		.titulo-historia{
			font-family: 'Lato', sans-serif;
			font-size: 3.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #3986B5;
			margin-bottom: 1em;
		}
		.texto-historia{
			text-align: justify;
			font-size: 1.2em;
			color: #565353;
		}
	}

	#aliados{
		background: #ffffff;
		padding: 3em;
		.titulo-aliados{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #bf2c46;
			margin-bottom: 1em;
		}
		.carousel-indicators li {
			display: inline-block;
			width: 15px;
			height: 15px;
			margin: 1px;
			text-indent: -999px;
			border: 1px solid white;
			border-radius: 10px;
			cursor: pointer;
			background-color: #000 \9;
			background-color: rgba(179, 179, 179, 1);
		}

		.carousel-indicators .active {
			margin: 0;
			width: 15px;
			height: 15px;
			background-color: #bf2c46;
		}

		.carousel-inner {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 15em;
		}
	}

	#eventos{
		background: #ffffff;
		padding: 3em;
		background-image: url('/assets/background/eventos.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		height: 350px;
		.titulo-eventos{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #ffffff;
			margin-bottom: 1em;
			margin-top: 90px;
		}
		.lista-eventos{
			padding: 1em;
			background: #ffffff;
			.cabezera-eventos{
				font-size: 1.5em;
				font-weight: 700;
				color: #3986B5;
				margin-bottom: 2em;
			}
			.item-eventos{
				font-size: 1em;
				font-weight: 700;
				color: #333131;
				margin-top: 2em;
				margin-bottom: 2em;
				padding-bottom: 20px;
			}

			.separador{				
				border-bottom: 3px solid #3986B5;
			}
		}
	}

	#galeria{
		background: #ffffff;
		padding: 3em;
		margin-top: 200px;
		.titulo-galeria{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #3986B5;
			margin-bottom: 1em;
			margin-top: 90px;
		}
		.image-galerias{
			width: 100%;
			height: 250px;
		}
		.carousel-inner {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 25em;
		}
		.carousel-control{
			font-size: 5em;
			margin-top: 10%;
			background: none;
			color: #3986B5;
		}
		
		#imagen-modal{
		    padding:0px;
		    height: 450px;
		    background-size: cover;
		    background-position: 70% 70%;
		}

	}

	#contactos{
		background-image: url('/assets/background/header.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		padding-top: 3em;
		.titulo-contactos{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;;
			text-align: center;
			color: #ffffff;
			margin-top: 1em;
		}

		.box-contactos{
			background-color: rgba(0, 0, 0, 0.7);
			padding: 2em;
			color: #ffffff;
		
			.text-redes{
				font-weight: 700;
				font-size: 1.5em;
			}
			.icon-redes{
				font-size: 5em;
			}

			.form-contactos {
				padding: 1em;
				.form-control{
					border-radius: 0px;
					width: 100%;
					background:none;
					color: #ffffff;
				}
				.btn-contact{
					background: none;
					border: none;
					font-size: 2em;
				}
				#recaptcha_challenge_image{
					width: 220px;
					margin-left: 0px;
				}
			}
		}
		.logo-contactos{
			width: 400px;			
			margin-top: 100px;
			margin-bottom: 100px;
		}
	}
	
	footer{
		.footer-up{
			padding: 0.5em;
			background: #bf2c46;
			color: #ffffff;
			font-weight: 700;
			font-size: 1em;
		}
		.footer-down{
			padding: 0.5em;
			padding-left: 30px;
			padding-right: 30px;
			font-weight: 700;
			font-size: 1em;
		}
	}
}
/* Pantalla md*/
@media screen and (max-width: 1199px) and (min-width: 992px){
	.menu-logo{
		width: 130px;
		position: relative;
		top: -18px;		
	}

	.menu-logo{
		width: 130px;
		position: relative;
		top: -18px;		
	}

	#front-navbar{
		max-height: 61px;
	}

	#front-navbar .navbar-nav .current{
		a{
			font-weight: 700;
			color: #3986B5;      	
			border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8; 
			padding-bottom: 15.5px;
			padding-top: 15.5px;
			-webkit-animation: menuhover 1.5s; /* Chrome, Safari, Opera */
			-webkit-animation-fill-mode: forwards;
		    animation: menuhover 1.5s;
		    animation-fill-mode: forwards;
		}

		@-webkit-keyframes menuhover {
		    from {
			    color: #3986B5;
			    border-top: 5px solid #f8f8f8;
				border-bottom: 5px solid #f8f8f8;	    
		    }
		    to {
		    	color: #bf2c46;      	
				border-top: 5px solid #bf2c46;
				border-bottom: 5px solid #bf2c46;  	
		    }
		}

		@keyframes menuhover {
		    from {
		    	color: #3986B5;
			    border-top: 5px solid #f8f8f8;
				border-bottom: 5px solid #f8f8f8; 
		    }
		    to {
		    	color: #bf2c46;      	
				border-top: 5px solid #bf2c46;
				border-bottom: 5px solid #bf2c46;     	
		    }
		}

	}

	#front-navbar .navbar-nav > li{	
		 a{
			color: #3986B5;
			font-weight: 700;
			border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8;
			padding-bottom: 15.5px;
			padding-top: 15.5px;
		}
	}

	#front-navbar .navbar-nav > li:hover {
		a{
		-webkit-animation: menuhover 1.5s; /* Chrome, Safari, Opera */
	    animation: menuhover 1.5s;
	    -webkit-animation-fill-mode: forwards;
	    animation-fill-mode: forwards;
		}
	}

	@-webkit-keyframes menuhover {
	    from {
		    color: #3986B5;
		    border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8;	    
	    }
	    to {
	    	color: #bf2c46;      	
			border-top: 5px solid #bf2c46;
			border-bottom: 5px solid #bf2c46;  	
	    }
	}

	@keyframes menuhover {
	    from {
		    color: #3986B5;
		    border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8;	    
	    }
	    to {
	    	color: #bf2c46;      	
			border-top: 5px solid #bf2c46;
			border-bottom: 5px solid #bf2c46;  	
	    }
	}

	#front-navbar .navbar-nav > li {
		float: left;
	}

	#fundacion{
		background-image: url('/assets/background/quehacemos.jpg');
		background-size: cover;
		/*background-attachment: fixed;	*/	
		height	: 500px;
		#container-fundacion{
			padding-top: 15em;
			.titulo-fundacion{
				font-family: 'Lato', sans-serif;
				font-weight: 700; 
				font-size: 5em;
				color: #ffffff; 
				text-align: center;
			}
			.items-fundacion{
				text-align: justify;
				background-color: #ffffff;
				color: #565353;
				padding:1em;
				font-family: 'Lato', sans-serif;
				margin-top: 5em;
				font-size: 1.2em;
			}
		}
	}

	#comolohacemos{
		margin-top: 90px;
		background-image: url('/assets/background/comolohacemos.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		background-position: 10% 50%;
		height: 450px;
		#container-fundacion{
			padding-top: 10em;
			.titulo-fundacion{
				font-family: 'Lato', sans-serif;
				font-weight: 700; 
				font-size: 5em;
				color: #ffffff;
				text-align: center;
			}
			.items-fundacion{
				text-align: justify;
				background-color: #ffffff;
				padding:1em;
				font-family: 'Lato', sans-serif;
				margin-top: 5em;
				font-size: 1.2em;
			}
		}
	}

	#nota{
		background-color: #bf2c46;
		padding: 1em;
		margin-top: 110px;
		color:#ffffff; 
		font-family: 'Lato', sans-serif;
		font-size: 1.2em;
	}

	#nota2{
		background-image: url('/assets/background/nota2.jpg');
		background-position: 10% 50%;
		background-size: cover;
		background-attachment: fixed;
		color: #fff;
		padding: 2em;
		font-family: 'Lato', sans-serif;
		font-size: 4em;
		font-weight: 700;
	}

	#historia{
		background: #ffffff;
		padding: 3em;
		.titulo-historia{
			font-family: 'Lato', sans-serif;
			font-size: 3.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #3986B5;
			margin-bottom: 1em;
		}
		.texto-historia{
			text-align: justify;
			font-size: 1.2em;
			color: #565353;
		}
	}
	#aliados{
		background: #ffffff;
		padding: 3em;
		.titulo-aliados{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #bf2c46;
			margin-bottom: 1em;
		}
		.carousel-indicators li {
			display: inline-block;
			width: 15px;
			height: 15px;
			margin: 1px;
			text-indent: -999px;
			border: 1px solid white;
			border-radius: 10px;
			cursor: pointer;
			background-color: #000 \9;
			background-color: rgba(179, 179, 179, 1);
		}

		.carousel-indicators .active {
			margin: 0;
			width: 15px;
			height: 15px;
			background-color: #bf2c46;
		}

		.carousel-inner {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 15em;
		}
	}

	#eventos{
		background: #ffffff;
		padding: 3em;
		background-image: url('/assets/background/eventos.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		height: 350px;
		.titulo-eventos{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #ffffff;
			margin-bottom: 1em;
			margin-top: 90px;
		}
		.lista-eventos{
			padding: 1em;
			background: #ffffff;
			.cabezera-eventos{
				font-size: 1.5em;
				font-weight: 700;
				color: #3986B5;
				margin-bottom: 2em;
			}
			.item-eventos{
				font-size: 1em;
				font-weight: 700;
				color: #333131;
				margin-top: 2em;
				margin-bottom: 2em;
				padding-bottom: 20px;
			}

			.separador{				
				border-bottom: 3px solid #3986B5;
			}
		}
	}
	#galeria{
		background: #ffffff;
		padding: 3em;
		margin-top: 200px;
		.titulo-galeria{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #3986B5;
			margin-bottom: 1em;
			margin-top: 90px;
		}
		.image-galerias{
			width: 100%;
			height: 200px;
		}
		.carousel-inner {
			position: relative;
			overflow: hidden;
			width: 100%;
		}
		.carousel-control{
			font-size: 5em;
			margin-top: 10%;
			background: none;
			color: #3986B5;
		}

		#imagen-modal{
		    padding:0px;
		    height: 450px;
		    background-size: cover;
		    background-position: 70% 70%;
		}
		
	}

	#contactos{
		background-image: url('/assets/background/header.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		padding-top: 3em;
		.titulo-contactos{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #ffffff;
			margin-top: 1em;
		}

		.box-contactos{
			background-color: rgba(0, 0, 0, 0.7);
			padding: 2em;
			color: #ffffff;
		
			.text-redes{
				font-weight: 700;
				font-size: 1.5em;
			}
			.icon-redes{
				font-size: 5em;
			}

			.form-contactos {
				padding: 1em;
				.form-control{
					border-radius: 0px;
					width: 100%;
					background:none;
					color: #ffffff;
				}
				.btn-contact{
					background: none;
					border: none;
					font-size: 2em;
				}
				#recaptcha_challenge_image{
					width: 220px;
					margin-left: 0px;
				}
			}
		}
		.logo-contactos{
			width: 400px;			
			margin-top: 100px;
			margin-bottom: 100px;
		}
	}
	footer{
		.footer-up{
			padding: 0.5em;
			background: #bf2c46;
			color: #ffffff;
			font-weight: 700;
			font-size: 1em;
		}
		.footer-down{
			padding: 0.5em;
			font-weight: 700;
			font-size: 1em;
		}
	}
} 
/* Pantalla sm*/
@media screen and (max-width: 991px) and (min-width: 768px){
	.menu-logo{
		width: 130px;
		position: relative;
		top: -18px;		
	}

	.menu-logo{
		width: 130px;
		position: relative;
		top: -18px;		
	}

	#front-navbar{
		max-height: 61px;
	}

	#front-navbar .navbar-nav .current{
		a{
			font-weight: 700;
			color: #3986B5;      	
			border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8; 
			padding-bottom: 15.5px;
			padding-top: 15.5px;
			-webkit-animation: menuhover 1.5s; /* Chrome, Safari, Opera */
			-webkit-animation-fill-mode: forwards;
		    animation: menuhover 1.5s;
		    animation-fill-mode: forwards;
		}

		@-webkit-keyframes menuhover {
		    from {
			    color: #3986B5;
			    border-top: 5px solid #f8f8f8;
				border-bottom: 5px solid #f8f8f8;	    
		    }
		    to {
		    	color: #bf2c46;      	
				border-top: 5px solid #bf2c46;
				border-bottom: 5px solid #bf2c46;  	
		    }
		}

		@keyframes menuhover {
		    from {
		    	color: #3986B5;
			    border-top: 5px solid #f8f8f8;
				border-bottom: 5px solid #f8f8f8; 
		    }
		    to {
		    	color: #bf2c46;      	
				border-top: 5px solid #bf2c46;
				border-bottom: 5px solid #bf2c46;     	
		    }
		}

	}

	#front-navbar .navbar-nav > li{	
		 a{
			color: #3986B5;
			font-weight: 700;
			border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8;
			padding-bottom: 15.5px;
			padding-top: 15.5px;
		}
	}

	#front-navbar .navbar-nav > li:hover {
		a{
		-webkit-animation: menuhover 1.5s; /* Chrome, Safari, Opera */
		-moz-animation: menuhover 1.5s;
	    animation: menuhover 1.5s;
		}
	}

	@-webkit-keyframes menuhover {
	    from {
		    color: #3986B5;
		    border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8;	    
	    }
	    to {
	    	color: #bf2c46;      	
			border-top: 5px solid #bf2c46;
			border-bottom: 5px solid #bf2c46;  	
	    }
	}

	@keyframes menuhover {
	    from {
		    color: #3986B5;
		    border-top: 5px solid #f8f8f8;
			border-bottom: 5px solid #f8f8f8;	    
	    }
	    to {
	    	color: #bf2c46;      	
			border-top: 5px solid #bf2c46;
			border-bottom: 5px solid #bf2c46;  	
	    }
	}


	#front-navbar > li {
		float: left;
	}


	.header-front{
		background-image: url('/assets/background/header.jpg');
		background-size: cover;
		background-position: 90% 50%;
		width: 100%;
		height: 600px;
		.back-header{
			height: 100%;
			width:  100%;
			padding-top: 2em;
			.logo-principal{
				width: 280px;
				opacity: 0;
			}
			.line-text{
				font-family: 'Lato', sans-serif;
				font-weight: 700;
				background-color: rgba(195, 44, 71, 0.8);
				color: #ffffff;
				font-size: 1.8em;
				padding: 0.3em;
				width: 100%;
				position:relative;
	    		top:45%;
	    		opacity: 0;
				p{
					max-width: 350px;
				}
			}
			.header-text{
				display:none;
			}
		}

	}

	#fundacion{
		background-image: url('/assets/background/quehacemos.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		#container-fundacion{
			padding-top: 10em;
			padding-bottom: 10em;
			.titulo-fundacion{
				font-family: 'Lato', sans-serif;
				font-weight: 700; 
				font-size: 3em;
				color: #ffffff; 
				text-align: center;				
				margin-bottom: 1em;
			}
			.items-fundacion{
				text-align: justify;
				color: #565353;
				background-color: rgba(255, 255, 255, 0.7);
				padding:1em;
				font-family: 'Lato', sans-serif;
				font-size: 1.2em;
			}
		}
	}

	#comolohacemos{
		margin-top: 10px;
		background-image: url('/assets/background/comolohacemos.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		background-position: 10% 50%;
		#container-fundacion{
			padding-top: 10em;
			padding-bottom: 10em;
			.titulo-fundacion{
				font-family: 'Lato', sans-serif;
				font-weight: 700;
				font-size: 3em;
				color: #ffffff;
				text-align: center;
				margin-bottom: 1em;
			}
			.items-fundacion{
				text-align: justify;
				background-color: rgba(255, 255, 255, 0.7);
				padding:2em;
				font-family: 'Lato', sans-serif;
				font-size: 1.2em;
			}
		}
	}

	#nota{
		background-color: #bf2c46;
		padding: 1em;
		color:#ffffff; 
		font-family: 'Lato', sans-serif;
		font-size: 1.2em;
	}

	#nota2{
		background-image: url('/assets/background/nota2.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		color: #fff;
		padding: 2em;
		font-family: 'Lato', sans-serif;
		font-size: 3em;
		font-weight: 700;
		.container-nota-2{
			width: 60%;
		}
	}

	#historia{
		background: #ffffff;
		padding: 3em;
		.titulo-historia{
			font-family: 'Lato', sans-serif;
			font-size: 3.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #3986B5;
			margin-bottom: 1em;
		}
		.texto-historia{
			text-align: justify;
			font-size: 1.2em;
			color: #565353;
		}
	}

	#aliados{
		background: #ffffff;
		padding: 3em;
		.titulo-aliados{
			font-family: 'Lato', sans-serif;
			font-size: 3em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #bf2c46;
			margin-bottom: 1em;
		}
		.carousel-indicators li {
			display: inline-block;
			width: 15px;
			height: 15px;
			margin: 1px;
			text-indent: -999px;
			border: 1px solid white;
			border-radius: 10px;
			cursor: pointer;
			background-color: #000 \9;
			background-color: rgba(179, 179, 179, 1);
		}

		.carousel-indicators .active {
			margin: 0;
			width: 15px;
			height: 15px;
			background-color: #bf2c46;
		}

		.carousel-inner {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 15em;
		}
	}

	#eventos{
		background: #ffffff;
		padding: 3em;
		background-image: url('/assets/background/eventos.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		height: 350px;
		.titulo-eventos{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #ffffff;
			margin-bottom: 1em;
			margin-top: 90px;
		}
		.lista-eventos{
			padding: 1em;
			background: #ffffff;
			.cabezera-eventos{
				font-size: 1.5em;
				font-weight: 700;
				color: #3986B5;
				margin-bottom: 2em;
			}
			.item-eventos{
				font-size: 1em;
				font-weight: 700;
				color: #333131;
				margin-top: 2em;
				margin-bottom: 2em;
				padding-bottom: 20px;
			}

			.separador{				
				border-bottom: 3px solid #3986B5;
			}
		}
	}

	#galeria{
		background: #ffffff;
		padding: 3em;
		margin-top: 200px;
		.titulo-galeria{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #3986B5;
			margin-bottom: 1em;
			margin-top: 90px;
		}
		.image-galerias{
			width: 100%;
			height: 150px;
		}
		.carousel-inner {
			position: relative;
			overflow: hidden;
			width: 100%;
		}
		.carousel-control{
			font-size: 5em;
			margin-top: 10%;
			background: none;
			color: #3986B5;
		}

		#imagen-modal{
		    padding:0px;
		    height: 450px;
		    background-size: cover;
		    background-position: 50% 50%;
		}
		
	}

	#contactos{
		background-image: url('/assets/background/header.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		padding: 3em;
		padding-left: 0px;
		padding-right: 0px;
		.titulo-contactos{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #ffffff;
			margin-top: 1em;
		}

		.box-contactos{
			background-color: rgba(0, 0, 0, 0.7);
			padding-top: 2em;
			color: #ffffff;
			
			.section-form{				
				border-bottom: 1px solid #ffffff;
				padding-bottom: 1em;
				margin-bottom: 1em;
			}
			.text-redes{
				font-weight: 700;
				font-size: 1.5em;
			}
			.icon-redes{
				font-size: 5em;
			}

			.form-contactos {
				padding: 1em;
				.form-control{
					border-radius: 0px;
					width: 100%;
					background:none;
					color: #ffffff;
				}
				.btn-contact{
					background: none;
					border: none;
					font-size: 2em;
				}
				#recaptcha_challenge_image{
					width: 220px;
					margin-left: 0px;
				}
			}
		}
		.logo-contactos{
			width: 400px;			
			margin-top: 100px;
			margin-bottom: 100px;
		}
	}

	footer{
		.footer-up{
			padding: 0.5em;
			background: #bf2c46;
			color: #ffffff;
			font-weight: 700;
			font-size: 1em;
		}
		.footer-down{
			padding: 0.5em;
			font-weight: 700;
			font-size: 1em;
		}
	}
} 
/* Pantalla xs*/
@media screen and (max-width: 767px) {

	#front-navbar{
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.header-front{
		background-image: url('/assets/background/header.jpg');
		background-size: cover;
		background-position: 90% 50%;
		width: 100%;
		height: 600px;
		.back-header{
			height: 100%;
			width:  100%;
			padding-top: 10em;
			.logo-principal{
				width: 280px;
				opacity: 0;
			}
			.line-text{
				font-family: 'Lato', sans-serif;
				font-weight: 700;
				background-color: rgba(195, 44, 71, 0.8);
				color: #ffffff;
				font-size: 1.8em;
				padding: 0.3em;
				width: 100%;
				position:relative;
	    		top:45%;
	    		display:none;
				p{
					max-width: 450px;
				}
			}
			.header-text{
				display:block;
			}
		}

	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #e7e7e7;
		background: #e7e7e7;
		z-index:9999;
		margin-top: 10px;		
	}

	.navbar-default .navbar-nav > li > a {
	    color: #3986B5;
	}

	.navbar-default .navbar-nav > li > a:hover {
	    color: #3986B5;
	}

	.navbar-default .navbar-nav .current {
	    color: #bf2c46;
	}

	#fundacion{
		background-image: url('/assets/background/quehacemos.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		#container-fundacion{
			padding-top: 10em;
			padding-bottom: 10em;
			.titulo-fundacion{
				font-family: 'Lato', sans-serif;
				font-weight: 700; 
				font-size: 3em;
				color: #ffffff; 
				text-align: center;				
				margin-bottom: 1em;
			}
			.items-fundacion{
				text-align: justify;
				background-color: rgba(255, 255, 255, 0.7);
				color: #565353;
				padding:1em;
				font-family: 'Lato', sans-serif;
				font-size: 1.2em;
			}
		}
	}

	#comolohacemos{
		margin-top: 10px;
		background-image: url('/assets/background/comolohacemos.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		background-position: 10% 50%;
		#container-fundacion{
			padding-top: 10em;
			padding-bottom: 10em;
			.titulo-fundacion{
				font-family: 'Lato', sans-serif;
				font-weight: 700;
				font-size: 3em;
				color: #ffffff;
				text-align: center;
				margin-bottom: 1em;
			}
			.items-fundacion{
				text-align: justify;
				background-color: rgba(255, 255, 255, 0.7);
				padding:2em;
				font-family: 'Lato', sans-serif;
				font-size: 1.2em;
			}
		}
	}

	#nota{
		background-color: #bf2c46;
		padding: 1em;
		color:#ffffff; 
		font-family: 'Lato', sans-serif;
		font-size: 1em;
	}

	#nota2{
		background-image: url('/assets/background/nota2.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		color: #fff;
		padding: 2em;
		font-family: 'Lato', sans-serif;
		font-size: 2em;
		font-weight: 700;
		.container-nota-2{
			width: 60%;
		}
	}

	#historia{
		background: #ffffff;
		padding: 2em;
		padding-right: 15px;
		padding-left: 15px;
		.titulo-historia{
			font-family: 'Lato', sans-serif;
			font-size: 2em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #3986B5;
			margin-bottom: 1em;
		}
		.texto-historia{
			text-align: justify;
			font-size: 1em;
			color: #565353;
		}
	}
	
	#aliados{
		background: #ffffff;
		padding: 3em;
		padding-right: 15px;
		padding-left: 15px;
		.titulo-aliados{
			font-family: 'Lato', sans-serif;
			font-size: 2em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #bf2c46;
			margin-bottom: 1em;
		}
		.img-aliados{
			margin-bottom: 2em;
			height: 140px;
		}
		.carousel-indicators li {
			display: inline-block;
			width: 15px;
			height: 15px;
			margin: 1px;
			text-indent: -999px;
			border: 1px solid white;
			border-radius: 10px;
			cursor: pointer;
			background-color: #000 \9;
			background-color: rgba(179, 179, 179, 1);
		}

		.carousel-indicators .active {
			margin: 0;
			width: 15px;
			height: 15px;
			background-color: #bf2c46;
		}

		.carousel-inner {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 35%;
		}

		.carousel-control{
			font-size: 5em;
			margin-top: 10%;
			background: none;
			color: #bf2c46;
		}
	}
	#eventos{
		background: #ffffff;
		padding-top: 3em;
		background-image: url('/assets/background/eventos.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		height: 350px;
		.titulo-eventos{
			font-family: 'Lato', sans-serif;
			font-size: 3.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #ffffff;
			margin-bottom: 1em;
			margin-top: 90px;
		}
		.lista-eventos{
			padding: 1em;
			background: #ffffff;
			.cabezera-eventos{
				font-size: 1.5em;
				font-weight: 700;
				color: #3986B5;
				margin-bottom: 2em;
			}
			.item-eventos{
				font-size: 1em;
				font-weight: 700;
				color: #333131;
				margin-top: 2em;
				margin-bottom: 2em;
				padding-bottom: 20px;
			}

			.separador{				
				border-bottom: 3px solid #3986B5;
			}
		}
	}
	#galeria{
		background: #ffffff;
		padding: 3em;
		margin-top: 200px;
		padding-left: 0px;
		padding-right: 0px;
		.titulo-galeria{
			font-family: 'Lato', sans-serif;
			font-size: 4.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #3986B5;
			margin-bottom: 1em;
			margin-top: 90px;
		}
		.image-galerias{
			width: 100%;
			height: 350px;
		}
		.carousel-inner {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 350px;
		}
		.carousel-control{
			font-size: 5em;
			margin-top: 20%;
			background: none;
			color: #3986B5;
		}

		#imagen-modal{
		    padding:0px;
		    height: 350px;
		    background-size: cover;
		    background-position: 50% 50%;
		}
		
	}
	#contactos{
		background-image: url('/assets/background/header.jpg');
		background-size: cover;
		/*background-attachment: fixed;*/
		padding: 3em;
		padding-left: 0px;
		padding-right: 0px;
		.titulo-contactos{
			font-family: 'Lato', sans-serif;
			font-size: 3.5em;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			color: #ffffff;
			margin-top: 1em;
		}

		.box-contactos{
			background-color: rgba(0, 0, 0, 0.7);
			padding: 1em;
			color: #ffffff;
			
			.section-form{				
				border-bottom: 1px solid #ffffff;
				padding-bottom: 1em;
				margin-bottom: 1em;
			}
			.text-redes{
				font-weight: 700;
				font-size: 1.5em;
			}
			.icon-redes{
				font-size: 3em;
			}

			.form-contactos {
				.form-control{
					border-radius: 0px;
					width: 100%;
					background:none;
					color: #ffffff;
				}
				.btn-contact{
					background: none;
					border: none;
					font-size: 2em;
				}
				#recaptcha_challenge_image{
					width: 220px;
					margin-left: 0px;
				}
			}
		}
		.logo-contactos{
			width: 300px;			
			margin-top: 100px;
			margin-bottom: 100px;
		}
	}
	footer{
		.footer-up{
			padding: 0.5em;
			background: #bf2c46;
			color: #ffffff;
			font-weight: 700;
			font-size: 1em;
		}
		.footer-down{
			padding: 0.5em;
			font-weight: 700;
			font-size: 1em;
		}
	}
}