= simple_form_for(@catalogue) do |f|  
  .panel.panel-default
    .panel-heading
      %i.fa.fa-th-list
        Nuevo Item
    .panel-body
      .form-inputs
        .field
          %br/
          = f.input :image, label: false, as: :file, input_html: { class: 'form-control', placeholder: t('catalogues.new.image')}
        .field
          %br/
          = f.input :title, label: false, input_html: { class: 'form-control', placeholder: "Titulo"}
        .field
          %br/
          = f.input :description, as: :text, label: false, input_html: { class: 'form-control', placeholder: "Descripción", :rows => 8 }           
        .field
          %br/
          = f.association :category_catalogue, label: false, prompt: "Tipo de Catalogo", input_html: { class: 'form-control'}
        .field
          %br/
          ¿Deseas publicarlo?
          = f.check_box :public, label: false
        .field
          %br/
          = f.input :prince, label: false, input_html: { class: 'form-control', value: "0", style:"opacity:0"}   
      %br/
    .panel-footer
      .form-actions
        = f.button :submit, "Guardar", class: "pull-right btn btn-warning"
      .clearfix