= content_for(:title, "Admin - Catálogo")

%div{'ng-controller'=>'indexCatalogueCrtl',  'ng-init'=>'init()', style:"padding:30px;padding-bottom:0px;"}
  .angular
    .form-inline
      .form-group
        .input-group
          .input-group-addon
            %i.fa.fa-search
          %input#input-search{"ng-model" => "buscar.$", :placeholder => "Buscar...", :type => "text"}  
    .alert{class: 'alert-{{statusAlert}}', 'ng-show'=>"alert==true"} 
      %strong Admin:    
      {{msnAlert}}
      %a.close-alert.pull-right{href: "", "ng-click" => "alertClose()"} ×
    = render 'layouts/admin/messages'
    %br/
    .panel.panel-default
      .panel-heading
        = link_to new_catalogue_path, class: "btn btn-default", title: t("admin.buttons.new") do
          %i.fa.fa-plus-circle
        
        %button.btn.btn-default.hidden-xs{"ng-click" => "refresh()", :title => t("catalogues.actions.refresh")}
          %i.fa.fa-refresh#icon-refresh
        %a.btn.btn-default.hidden-xs{"ng-show" => "products.data.length", "ng-click" => "allSelected(products)", :title => t("catalogues.actions.select_all")}
          %i.fa.fa-check-square-o
        %button#btn-delete.btn.btn-default.hidden-xs{class: "btn-{{btnDelete}}", "ng-click" => "destroy()", :title => t("catalogues.actions.delete_all")}
          %i.fa.fa-trash-o
        %button.btn.btn-default.pull-right.hidden-xs{'disabled'=>"", style:"color:#000"}
          =t("catalogues.actions.page") 
          {{page}} 
        %button.btn.btn-default.pull-right{"ng-click" => "nextList();"}
          %i.fa.fa-arrow-right
        %button.btn.btn-default.pull-right{"ng-click" => "lastList();"}
          %i.fa.fa-arrow-left
      .panel-body
        %table{style: "width:100%"}
          %tbody
            %tr{ class: "select-{{product.checked}}", :id => "row-{{product.id}}", "ng-repeat" => "product in products.data | filter:buscar | interval:interval_a:interval_b "}
              %td.messages{width: "1px;"}
                %input.check{:id => "check-{{product.id}}", "ng-click" => "selected(product.id); $event.stopPorpagation();", :type => "checkbox", "ng-model" => "product.checked"}
              %td.messages{'ng-if'=>'product.public == true'}
                %i.fa.fa-check-circle-o{style:"font-size: 20px;"}   
              %td.messages{'ng-if'=>'product.public == false'}
                %i.fa.fa-times-circle-o{style:"font-size: 20px;"}            
              %td.messages
                = link_to "/admin/catalogues/{{product.id}}" do
                  {{product.title}}
              %td.messages.hidden-xs
                {{product.description.slice(0,50)+"..."}}
              %td.messages.hidden-xs
                {{product.category.title}}
              %td.messages.hidden-xs
                = link_to "/admin/catalogues/{{product.id}}", title: t('admin.actions.show') do
                  %i.fa.fa-exclamation-circle
                = link_to "/admin/catalogues/{{product.id}}/edit", title: t('admin.actions.edit') do
                  %i.fa.fa-edit
                = link_to "/admin/catalogues/{{product.id}}", title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar este usuario?' } do
                  %i.fa.fa-trash-o

            %tr{"ng-show" => "!products.data.length"}
              %td{:style => "width:100%"}
                %center
                  %i.fa.fa-frown-o
                  = t("catalogues.actions.empty")
              
      .panel-footer



