.container{'ng-controller'=>'indexCatalogueCrtl','ng-init'=>'init()',}
	.form-inline
		.form-group
		.input-group
			.input-group-addon
				%i.fa.fa-search
			%input#input-search{"ng-model" => "buscar.$", :placeholder => t("catalogues.actions.search"), :type => "text"}
	%br
	%br 
		.row
			%div{"ng-repeat" => "product in products.data | filter:buscar"}
				.col-lg-4.col-md-4.col-sm-6{'ng-if'=>'product.public == true'}
					%a.thumbnail{href: "/catalogues/{{product.id}}"}
						%img.img-responsive{src:"{{product.image.url}}", style: "height:280px"}
						.caption
							%h3
								{{product.title}}
							.label.label-primary
								%i.fa.fa-tag
								{{product.category.title}}
				
