.header-perfil.hidden-xs
.sector-perfil
	#title-speakers.visible-xs
		%p{style:"margin-bottom: 0px;"} Speakers  
		%p inspiradores
	#text-speakers.visible-xs
		%p{style:"margin-bottom: 0px;"} Se parte de nuestro selecto grupo 
		%p de speakers internacionales certificados.
	.subsection-perfil{style:"background-image:url(#{@product.image})"}
	.subsection-info
		.container#container-fluid
			.col-lg-4.col-md-4.col-sm-6
				.speaker-selector
					.speaker{style:"background-image: url(#{@product.image})"}
			.col-lg-8.col-md-8.col-sm-6
				%h3
					= @product.title
				%p{align:"justify", style:"color:#6D6D6D;"}
					= @product.description

	
			