-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default#front-navbar
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %img{src: "/assets/logos/menu.png", class: "menu-logo hidden-xs"}
      %img{src: "/assets/logos/logo_principal.png", class: "menu-logo-principal off"}
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right.top-nav.hidden-xs.hidden-sm
        = render 'layouts/navigation_links'
      %ul.nav.navbar-nav.top-nav.visible-xs.visible-sm
        = render 'layouts/navigation_links'