<%# add navigation links to this file %>
<li class="current"><a href="#home">INICIO</a></li>
<li><a href="#fundacion">LA FUNDACIÓN</a></li>
<li><a href="#eventos">EVENTOS</a></li>
<li><a href="#galeria">GALERIAS</a></li>
<li><a href="#contactos">CONTACTO</a></li>