!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Fundación Impacto'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Fundación Impacto'}"}
    %meta{:content => "Fundación Impacto", :name => "description"}
    %meta{:content => "Fundacion,Organizacion,impacto", :name => "keywords"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true   
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag "logos/favicon.png"
    = csrf_meta_tags
    
  %body
    = #render 'layouts/navigation'
    %main{:role => "main", class: "main"}
      = #render 'layouts/messages'
      = yield
  %footer
    .footer-up
      %center
        %p Todos los derechos reservados. Academia superación y liderazgo 2014.
    .footer-down
      .row
        .col-lg-6
          Desarrolado por
          = link_to "http://slicegroup.xyz/", target: "_blank" do
            = image_tag "logos/slice.png", class: "footer-logo"
        .col-lg-6
          .pull-right
            %span.muffin-text
              Diseñado por
            = link_to "http://studiomuffin.com/", target: "_blank" do       
              = image_tag "logos/muffin.png", class: "footer-logo-muffin"

  :javascript
    $(document).on('ready page:load', function(arguments){
      function removeHash () { 
        history.pushState("", document.title, window.location.pathname + window.location.search);
      }


      $('.top-nav').onePageNav({
          currentClass: 'current',
          changeHash: false,
          scrollSpeed: 500,
          filter: ':not(.external)',
          begin: function() {
            removeHash();
          },
          end: function() { 
            
        
          },
          scrollChange: function($currentListItem) {     
                  
          }
        });

        var num = parseInt($('header').css('height').split("px")[0]); //number of pixels before modifying styles

        $(window).bind('scroll', function () {
            if ($(window).scrollTop() > num) {
                $('#front-navbar').addClass('navbar-fixed-top');
                $('.menu-logo-principal').removeClass('off');   
                $('.menu-logo').addClass('off');
            } else {
                $('#front-navbar').removeClass('navbar-fixed-top');
                $('.menu-logo-principal').addClass('off');   
                $('.menu-logo').removeClass('off');
            }
        });

        $('.logo-principal').animate({
          opacity: 1
        }, 1000,function(){
          $('.line-text').animate({
            opacity: 1
          }, 1000);
        });

    });
